<!DOCTYPE html>
<html>
<head>
  <title><%= name %></title>
  <link rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/blk/0.0.14/blk.min.css">
</head>
<body>

<% colors.forEach(function(color) { %>
  <div class="flex xflex-wrap">
    <% color.combinations.forEach(function(combo) { %>
    <div class="h6 flex-auto px1 py3" style="background-color:<%= color.hex %>;color:<%= combo.hex %>">
        <%= color.hex %>
        <%= Humanize.formatNumber(combo.contrast, 2) %>
        <div>AA: <%= combo.accessibility.aa ? 'Pass' : 'Fail' %></div>
        <div>AAA: <%= combo.accessibility.aaa ? 'Pass' : 'Fail' %></div>
        <div>AA large text: <%= combo.accessibility.aaLarge ? 'Pass' : 'Fail' %></div>
        <div>AAA large text: <%= combo.accessibility.aaaLarge ? 'Pass' : 'Fail' %></div>
      </div>
    <% }) %>
  </div>
<% }) %>

</body>
</html>
